/* 
 * stylesheet.css
 */
  
body {
    background-color: linen;    
    /* font-family: Arial, Helvetica, sans-serif, "FangSong", "仿宋", STFangSong, "华文仿宋";*/
    font-family: Arial, Helvetica, sans-serif, "KaiTi", "楷体", STKaiti, "华文楷体";
    font-size: 2vw;
}

/* xyz copied from hMenuItem */
.xyz {
    font-size: 14px;
    display: block;
    //color: white;
    text-align: center;
    padding: 6px 10px;
    text-decoration: none;
}

h1 {
    color: Tomato;
    font-size: 14px;;
}

.question-title {
    color: black;
    font-size: 14px;
}

.question {
    background-color: linen; 
    color: Black;
    font-size: 30px;
    margin: 1vw;
    width: 60%; 
    padding: 1vw; 
    border-style: solid;   /* border-style must be before border-width */
    border-width: thin;
    border-color: lightgray;
}

.answer-title {
    color: Black;
    font-size: 14px;
}

.answer {
    background-color: White;
    color: Black;
    font-size: 24px;
    margin: 1vw;
    width: 60%;
    padding: 1vw;
    border-style: solid;     /* border-style must be before border-width */
    border-width: thin;
    border-color: lightgray;
}

::-webkit-input-placeholder { /* Edge */
  color: Tomato;
  opacity: 0.3;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: Tomato;
  opacity: 0.3;
}

::placeholder {
  color: Tomato;
  opacity: 0.3; 
}

.wrong {
    border-color: red;
    outline: none !important;
    border: 1px solid red;
    box-shadow: 0 0 5px red;
}

table {
    /* margin: 20px; */
    /*padding: 20px; */
    font-size: 14px;;
    border-collapse: collapse; 
}

th, td {
    border: 1px solid black;
    padding: 2px;
    text-align: left;
    vertical-align: top;
}

.feedback {
    font-size: 14px;
}
.correct-feedback {
    color: darkgreen;
}

.wrong-feedback {
    font-size: 14px;
    color: red;
    text-decoration: line-through;
}

