/* 
 * stylesheet.css
 */
  
body {
  background-color: linen;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
}
  
h1 {
  color: Tomato;
  font-size: 2vw;
}

.question-title {
  color: Blue;
  font-size: 2vw;
}

.question {
  background-color: White;
  color: Black;
  font-size: 3vw;
  margin: 20px;
  /* width: 80%; */
  padding: 20px;
}

.answer-title {
  color: Blue;
  font-size: 2vw;
}

.answer {
  background-color: White;
  font-size: 3vw;
  margin: 20px;
  width: 60%;
  padding: 20px;
}

table {
  margin: 20px;
  padding: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 2px;
  text-align: left;
  vertical-align: top;
}

.correct-feedback {
  color: darkgreen;
}

.wrong-feedback {
  color: red;
  text-decoration: line-through;
}

