/* 
 * stylesheet.css
 */
  
body {
  background-color: linen;    
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
}

/* xyz copied from hMenuItem */
.xyz {
    font-family:Helvetica, Arial, Sans-Serif;
    font-size:14px;
    display: block;
    //color: white;
    text-align: center;
    padding: 6px 10px;
    text-decoration: none;
}

h1 {
  color: Tomato;
  font-size: 2vw;
}

.question-title {
  color: black;
  font-size: 16px;
}

.question {
  background-color: white; 
  color: Black;
  font-size: 30px;
  margin: 1vw;
  width: 60%; 
  padding: 1vw; 
  border-style: solid;   /* border-style must be before border-width */
  border-width: thin;
}

.answer-title {
  color: Black;
  font-size: 16px;
}

.answer {
  background-color: White;
  color: Black;
  font-size: 24px;
  margin: 1vw;
  width: 60%;
  padding: 1vw;
  border-style: solid;     /* border-style must be before border-width */
  border-width: thin;
}

table {
  margin: 20px;
  padding: 20px;
  border-collapse: collapse; 
}

th, td {
  border: 1px solid black;
  padding: 2px;
  text-align: left;
  vertical-align: top;
}

.correct-feedback {
  color: darkgreen;
}

.wrong-feedback {
  color: red;
  text-decoration: line-through;
}

