<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="png/favicon.png" type="image/png">
    <title>Dora Flash</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="menu/menu.css"> 
    <script src="menu/menu.js"></script>  
    <script src="js/utils.js"></script>
    <script src="course?name=chinese"></script>
    <script src="course?name=traditional"></script>
    <script src="js/german.js"></script>
    <script src="course?name=greek"></script>
    <script src="course?name=korean-syllables"></script>
    <script src="js/functions.js"></script>
    <script src="js/inputProcessing.js"></script>
    <link rel="stylesheet" href="css/stylesheet.css">
  </head>
  <body onload="pageLoaded()" class="%BODY_CLASS%">
  <div>
   <ul class="hMenuBar">
    <li class="hMenuItem"><a class="dropbtn" onclick="toggleMenu('myDropdown1')">Courses</a>
      <div class="dropdown-content" id="myDropdown1">
        <a onclick="loadCourse('chinese')">Chinese (简体字)</a>
        <a onclick="loadCourse('traditional')">繁体字 Traditional Chinese Characters</a>
        <a onclick="loadCourse('german')">German</a>
        <a onclick="loadCourse('greek')">Greek</a>
        <a onclick="loadCourse('korean-syllables')">Korean Syllables</a>
      </div>
    </li>
    <li class="hMenuItem"><a class="dropbtn" onclick="toggleMenu('myDropdown2')">Tools</a>
      <div class="dropdown-content" id="myDropdown2">
        <a onclick="shuffleCards()">Alle Fragen mischen</a>
      </div>
    </li>
    <li class="hMenuItem"><a class="dropbtn" onclick="toggleMenu('myDropdown3')">Support</a>
      <div class="dropdown-content" id="myDropdown3">
        <a onclick="inspectCurrentCourse()">Inspect current course</a>
        <a onclick="currentCourse.saveToLocalStorage()">Save current course to local storage</a>
        <a onclick="load()">Load</a>
        <a onclick="onTest()">Test</a>
        <a onclick="processAnswer()">Answer</a>
        <a onclick="inspectFeedback()">Feedback</a>
      </div>
    </li>
     Version 0.8 (2019-08-03)
     %USERNAME%
    </ul> 
  </div>
  <h1 id="course_title">[course_title]</h1>
  <div class="question-title">Beantworte bitte die Frage.</div>
  <div id="question" class="question">[question]</div>
  <div class="answer-title">
    Gib hier bitte deine Antwort ein.
    <button onclick="onPeekAnswer()">Spicken</button>
  </div>
  <input 
    id="answer" 
    class="answer" 
    type="text" 
    autocomplete="off" 
    autocorrect="off" 
    autocapitalize="off" 
    spellcheck="false" 
    onchange="processAnswer()">
  <div id="feedback" class="feedback"></div>
  </body>
<html>